html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

/* Header Section */

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  /*padding: 1.875rem;*/
  height: 4rem;
  display: space-between;
}

header img{
  height: 2rem;
}

header .logo {
  flex: 1;
  padding-left: 1.5rem;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}

.darkgrey{
  color: rgb(74,74,74);
}

.grey{
  color: rgb(157,157,157);
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
  font-size: 1rem;
  color: rgb(129,129,129);
}


header nav{
  /*float: right;*/
  margin-right: 1.5rem;
}

/* Banner Section */

.banner{
  background-color: rgb(216,216,216);
  /*display: flex;*/
  /*height: 30rem;*/
  padding-top: 4rem;
  width: 100%;
  display: flex;
}


.bannercontent{
  display: flex;
  padding: 2rem 0 2rem 1.5rem;
  width: 100%;
  align-items: center;
}

.bannercontent img{
  width: 60%;
  height: auto;
  margin-right: 2.5rem;
  display: flex;
}

.bannersentences{
  width: 30%;
}

.letter{
  font-weight: bold;
  color: rgb(74,74,74);
  padding-bottom: 2rem;
}

.one{
  font-size: 2.75rem;
}

.two{
  font-size: 1.5rem;
}

.bannersentences .button{
  background-color:  rgb(74,74,74);
  color: white;
  text-align: center;
  }

.button{
  padding: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* 2nd Section */

.secsection{
  background-color: white;
  width: 100%;

  display: flex;
}

.seccontent{
  padding: 1rem 0 2rem 1.5rem;
  display: flex;
}

.picandtext{
  /*flex-direction: column;*/
  max-width: 60%;
  padding-right: 1.5rem;
  /*display: flex;*/
  padding-top: 1rem;
}

.picandtext img{
  width: 100%;
}

.picframe{
  .width: 35%;
}




.secframes{
  /*display: flex;*/
  max-width: 40%;
  border-left: 1px rgb(216,216,216) solid;
  flex-direction: column;
  padding-left: 1rem;

}

.frame{
  display: flex;
  padding: 1rem 0 1rem;
  width: 100%;
  /*height: 33.333333333%;*/
  align-items:flex-start;
}

.frame img{
  width: 35%;
  height: auto;

}

.framesentences{
  padding-left: 1.5rem;
  display: flex;
  height: 100%;
  width: 65%;
}

.framesentences div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sectext{
  color: rgb(74,74,74);
  padding: 2rem 0 2rem 0;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.sectext h1{
  font-size: 2.75rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.sectext p{
  font-size: 1.5rem;
}

.signature{
  font-weight: bold;
  align-content: flex-end;
}
